body, html, #root, .app {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 0;
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; 
  padding: 0 20px;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}